 .gradient-background1 {
  background-image:
    linear-gradient(
      #263c4e, #00af9d);
}

.tabs a.tab-item  {
  color: #00af9d;
}

/*.scroll-content.ionic-scroll.has-header.has-tabs*/
.gradient-background2 {
  background-image:
    linear-gradient(
      #d70087, #00b6b5);
}

#logo {
  max-width: 40vw;
}

.big-padding {
  padding-top: 7em;
}

.md-padding {
  padding-top: 4em;
}

#iconPlus {
  font-size: 30vh;
  cursor: pointer;
}

#addTask {
  font-size: 15vh;
  color: #d70087;
}

.iconSelector {
  margin-right: 2em;
}

ion-item a.item-content {
  margin-left: 0vw;
  padding-left: 0vw;
}

.unstarted-icon {
  color: #d70087;
  margin-right: 2vw;
}

.pending-icon {
  margin-right: 2vw;
}

.check-icon {
  margin-right: 2vw;
}

.categoryIcon {
  margin-left: -10vw;
}

#accept {
  font-size: 15vh;
}

#reject {
  color: #d70087;
  font-size: 15vh;
}

#mark-done {
  font-size: 15vh;
}

.emailLogo {
  color: $positive;
}

.logOut {
  margin-top: 100%;
}

.error {
    color: red !important;
}

#iconCombo {
  margin-left: 33vw;
  font-size: 33vw;
  color: #d70087;
}

#faceBookLogin {
  margin-top: 15vh;
}

#unlock, #big-check {
  font-size: 33vw;
}


.ion-content {
  height: 100%;
}

.statusIcons {
  margin-left: 28vw;
  font-size: 20vw;
  /*text-align: center;*/
}
