<ion-view class="gradient-background1" view-title="REAL Landing" ng-controller="OauthCtrl as $ctrl">
  <ion-content>
    <div class="big-padding padding">
      <i id="iconCombo" class="padding ion-lock-combination">
      </i>
      <div class="padding">
        <button id="faceBookLogin"class="padding button button-block button-positive" ng-click="$ctrl.signInFacebook()">
          <ion-icon class="padding-right icon-left ion-social-facebook"></ion-icon>
          Sign-In With Facebook
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
