<ion-view class="gradient-background2" view-title="Account" ng-controller="AccountCtrl as $ctrl">
  <ion-nav-bar class="bar-dark background">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <ion-toggle id="toggleUpdateEmail" ng-model="$ctrl.showUpdateEmail">
          Activate Email
      </ion-toggle>
    </ion-list>
    <form
      ng-submit="$ctrl.updateEmail()"
      class="list"
      ng-if="$ctrl.showUpdateEmail === true">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
      <div class="padding text-center">
        <button type="submit" class="button button-calm text-center">Update Email</button>
      </div>
    </form>
  </ion-content>
</ion-view>


<!--  child: both emails disabled
      parent: parent email disabled , child has input form
-->
