
<ion-view class="gradient-background2" view-title="Task Dashboard" ng-controller="TaskDashCtrl as $ctrl">
  <ion-nav-bar class="bar-dark background">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="big-padding padding text-center" ng-if="$ctrl.createTaskPrompt === true">
      <h2 class="stable">You have no active tasks</h2>
      <h4 class="stable">Click to create a task list</h4>
      <a class="padding button-positive"
         ng-click="$ctrl.createTask()"
         href="#/tab/addTasks">
        <ion-icon
          id="iconPlus"
          class="icon-left ion-plus-circled"
          ng-click="$ctrl.addTask()">
        </ion-icon>
      </a>
    </div>

    <ion-list ng-if="$ctrl.createTaskPrompt === false">
      <ion-item
        class="customPadding item-remove-animate item-avatar item-icon-right"
        ng-repeat="task in $ctrl.tasks"
        type="item-text-wrap"
        ui-sref="tab.task-detail({taskId: task.id})"
        >
          <div class="row" ng-switch="task.description">
            <div class="col col-20 item item-icon-left categoryIcon">
              <div ng-switch-when="Take Out Trash"><i class="icon ion-ios-trash"></i></div>
              <div ng-switch-when="Clean Room"><i class="icon ion-ios-home"></i></div>
              <div ng-switch-when="Clean Dishes"><i class="icon ion-fork"></i></div>
              <div ng-switch-default><i class="icon ion-ios-home"></i></div>
            </div>

            <div class="col col-70">
              <h2>{{task.description}}</h2>
              <!-- <p>{{task.details}}</p> -->
              <p>We are in the midst of a powerful deepening of growth that will give us access to the totality itself. Humankind has nothing to lose. Reality has always been bursting with spiritual brothers and sisters whose essences are enveloped in freedom.</p>
            </div>

            <div class="col col-5">
              <i class="padding-right icon ion-checkmark check-icon" ng-if="task.approved === 'complete'"></i>
              <i class="padding-right icon ion-alert pending-icon" ng-if="task.approved === 'unstarted'"></i>
            </div>

            <div class="col col-5">
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
          </div>

      </ion-item>
    </ion-list>
                                          <!-- TODO: update parentView with user token info -->
    <div class="row" ng-if="$ctrl.createTaskPrompt === false && parentView === true">
      <div class="col col-30 text-center">
        <a class="padding button-positive"
           ng-click="$ctrl.addTask()"
           href="#/tab/addTasks">

          <ion-icon id="addTask" class="icon-left ion-plus-circled"></ion-icon>
        </a>
      </div>
      <div class="col col-30">
        <button class="padding button button-balanced" ng-click="$ctrl.completeTaskList()">
          Tasks Complete
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
