
<ion-view class="gradient-background2" view-title="Task Dashboard" ng-controller="TaskDashCtrl as $ctrl">
  <ion-nav-bar class="bar-dark background">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="big-padding padding text-center" ng-if="$ctrl.createTaskPrompt === true">
      <h2 class="stable">You have no active tasks</h2>
      <h4 class="stable">Click to create a task list</h4>
      <a class="padding button-positive"
         ng-click="$ctrl.createTask()"
         href="#/tab/addTasks">
        <ion-icon
          id="iconPlus"
          class="icon-left ion-plus-circled"
          ng-click="$ctrl.addTask()">
        </ion-icon>
      </a>
    </div>

    <ion-list ng-if="$ctrl.createTaskPrompt === false">
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="task in $ctrl.tasks"
        type="item-text-wrap"
        ui-sref="tab.task-detail({taskId: task.id})"
        >
          <!-- <img ng-src="{{task.icon}}"> -->
          <h2>{{task.description}}</h2>
          <!-- <p>{{task.details}}</p> -->
          <i class="padding-right icon ion-checkmark" ng-if="task.approved === true"></i>
          <i class="padding-right icon ion-alert" ng-if="task.approved === false"></i>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="row" ng-if="$ctrl.createTaskPrompt === false">
      <div class="col col-30 text-center">
        <a class="padding button-positive"
           ng-click="$ctrl.addTask()"
           href="#/tab/addTasks">

          <ion-icon id="addTask" class="icon-left ion-plus-circled"></ion-icon>
        </a>
      </div>
      <div class="col col-30">
        <button class="padding button button-balanced" ng-click="$ctrl.completeTaskList()">
          Tasks Complete
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
