<ion-view class="gradient-background2" view-title="Account" ng-controller="AccountCtrl as $ctrl">
  <ion-nav-bar class="bar-dark background">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- TODO: update parentView with token  -->
    <div ng-if="$ctrl.parentView === true">
      <ion-list>
        <ion-toggle id="toggleUpdateEmail" ng-model="$ctrl.showUpdateEmail">
            Activate Email
        </ion-toggle>
      </ion-list>

      <form
        ng-submit="$ctrl.updateEmail()"
        class="list"
        ng-if="$ctrl.showUpdateEmail === true">
        <label class="item item-input item-floating-label">
          <span class="input-label light">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <div class="padding text-center">
          <button type="submit" class="button button-calm text-center">Update Email</button>
        </div>
      </form>

    </div>
    <div ng-if="$ctrl.childView === true">
      <div class="list">
        <a class="item item-icon-left"><!-- TODO: update  -->
         <i class="icon ion-email positive"></i>
        <span class="positive">Parent Email:</span> $ctrl.parent.email
       </a>
       <a class="item item-icon-left"><!-- TODO: update  -->
        <i class="icon ion-email positive"></i>
        <span class="positive">Your Email:</span> $ctrl.child.email
       </a>
     </div>
    </div>

  </ion-content>
</ion-view>
