
<ion-view class="gradient-background2" view-title="Tasks" ng-controller="AddTasksCtrl as $ctrl">
  <ion-nav-bar class="bar-dark background">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list card">
      <form name="$ctrl.detailsForm" ng-submit="$ctrl.submitEventDetails()">
        <div class="item">
          <label class="item item-input item-select">
            <div class="input-label">Event Category</div>

            <select ng-model="$ctrl.selected" ng-change="$ctrl.getCategory()" required>
              <option ng-repeat="event in $ctrl.events" value="{{event.id}}">{{event.category}}</option>
            </select>
          </label>
        </div>

        <!-- <div class="list card"> -->
          <label class="item item-input item-floating-label ">
            <span class="input-label calm">Don't forget...</span>
            <input name="details" ng-model="$ctrl.eventDetails" type="text" placeholder="Additional Details" required>
          </label>
        <!-- </div> -->
        <div class="row">
          <div class="col col-50 col-offset-25">
            <button ng-disabled="$ctrl.detailsForm.$invalid" type="submit" class="center button button-positive">Add Details</button>
          </div>
        </div>
      </form>
    </div>

    <div class="card" ng-repeat="tempTask in $ctrl.tempTasks">
      <div class="item item-divider">
        {{tempTask.eventName}}
      </div>
      <!-- center header and make a divider between the two -->
      <div class="item item-text-wrap">
        {{tempTask.description}}
      </div>
    </div>
    <div class="col col-50 col-offset-25" ng-if="$ctrl.submitButton">
      <button class="center button button-block button-positive" ng-click="$ctrl.submitBatch()" type="button" name="button">Submit</button>
    </div>
  </ion-content>
</ion-view>
