
  <ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-dark" ng-controller="TabsCtrl as $ctrl">
    <!-- Dashboard Tab -->
    <ion-tab ng-if="$ctrl.authorized === true" title="Dashboard" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/dash">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Tasks Tab -->
    <ion-tab  ng-if="$ctrl.authorized === true && $ctrl.type == 'parent'" class="tab-color" title="Add Tasks" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/addTasks">
      <ion-nav-view name="tab-addTasks"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab ng-if="$ctrl.authorized === true" title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account" ng-show="$ctrl.loggedIn == true">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
