<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view class="gradient-background2" view-title="Task Details" ng-controller="TaskDetailCtrl as $ctrl">
    <ion-nav-bar class="bar-dark background">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding">
        <div class="list card">
            <div class="item item-remove-animate item-avatar item-icon-left" ng-switch="$ctrl.task.category">
                <div ng-switch-when="Take Out Trash"><i class="icon ion-ios-trash"></i></div>
                <div ng-switch-when="Clean Room"><i class="icon ion-ios-home"></i></div>
                <div ng-switch-when="Clean Bathroom"><i class="icon ion-nuclear"></i></div>
                <div ng-switch-when="Mow The Lawn"><i class="icon ion-leaf"></i></div>
                <div ng-switch-when="Do Laundry"><i class="icon ion-tshirt"></i></div>
                <div ng-switch-when="Do Homework"><i class="icon ion-ios-book"></i></div>
                <div ng-switch-when="Walk The Dog"><i class="icon ion-ios-paw"></i></div>
                <div ng-switch-default><i class="icon ion-ios-home"></i></div>
                <h2 class="padding">{{$ctrl.task.category}}</h2>
            </div>
            <div class="item item-body">
                <h2>{{$ctrl.task.description}}</h2>
                <div class="text-center" ng-if="$ctrl.parentView === true">
                    <i class="sized icon ion-alert assertive" ng-if="$ctrl.task.status === 'unstarted'"></i>
                    <div class="text-center" ng-if="$ctrl.task.status === 'pending'">
                        <a ng-click="$ctrl.updateTaskStatus('complete')" id="accept" class="padding-right"><i class="ion-ios-checkmark balanced"></i></a>
                        <a ng-click="$ctrl.updateTaskStatus('unstarted')" id="reject" class="padding-left"><i class="ion-ios-close"></i></a>
                    </div>
                    <i class="sized icon ion-checkmark balanced " ng-if="$ctrl.task.status === 'complete'"></i>
                </div>

                <div class="text-center" ng-if="$ctrl.childView === true">
                    <div class="row text-center" ng-if="$ctrl.task.status === 'unstarted'">
                        <div class="padding col col-80 col-offset-10">
                            <h2 class="padding button button-block button-balanced" ng-click="$ctrl.updateTaskStatus('pending')">
                              Mark Task Complete
                          </h2>
                        </div>
                    </div>

                    <div class="padding">
                        <div class="padding col-col-10">
                            <i class="sized icon ion-loop calm statusIcons" ng-if="$ctrl.task.status === 'pending'"></i>
                            <i class="sized icon ion-checkmark balanced statusIcons" ng-if="$ctrl.task.status === 'complete'"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>
