 .gradient-background1 {
  background-image:
    linear-gradient(
      #263c4e, #00af9d);
}

.tabs a.tab-item  {
  color: #00af9d;
}

/*.scroll-content.ionic-scroll.has-header.has-tabs*/
.gradient-background2 {
  background-image:
    linear-gradient(
      #d70087, #00b6b5);
}

#logo {
  max-width: 40vw;
}

.big-padding {
  padding-top: 7em;
}

.md-padding {
  padding-top: 4em;
}

#iconPlus {
  font-size: 30vh;
  cursor: pointer;
}

#addTask {
  font-size: 10vh;
  color: #d70087;
}

.iconSelector {
  margin-right: 2em;
}

ion-item a.item-content {
  margin-left: 0vw;
  padding-left: 0vw;
}

.pending-icon {
  color: #d70087;
  margin-right: 2vw;
}

.check-icon {
  color: $balanced;
  margin-right: 2vw;
}

.categoryIcon {
  margin-left: -10vw;
}
